
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Unit</th>
                <th scope="col">Sub-Product</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of allproducts; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.type }}</td>
                <td>
                    <ul >
                        <li *ngFor="let unit of item.unit.split(' ')">
                            {{ unit }}
                            
                        </li>
                    </ul>
                </td>
                <td><ul>
                    <li *ngFor="let unit of item.unit.split(' ')">
                    {{item.name }} - {{ unit }}
                </li>
            </ul></td> 
                <td>
                    <a href="" class="btn btn-primary" [routerLink]="['/product/edit', item.id]">Edit</a> &nbsp;&nbsp;
                    <button type="button" (click)="deleteItem(item.id)" class="btn btn-danger ms-2">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
